:root {
    --backgroundcolor: #f8f4f7;
    --lightpink: #e0cfd9;
    --mediumpink: #5d2236;
    --brightaccentpink: #832543;
    --darkaccentpink: #3d0f1f;
    /* I found this color scheme at https: //coolors.co/image-picker using my background image. */
}

body {
    background: var(--backgroundcolor) url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
}

footer {
    padding: 10px;
    margin: 10px;
}

.page {
    background-color: var(--backgroundcolor);
    margin: auto;
    width: 85%;
    box-shadow: 0 0 80px 10px var(--darkaccentpink);
    transition: box-shadow 0.3s ease-in-out;
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}


nav {
    height: 40px;
    border: 0px;
    margin: 0px;
}

h1,
nav {
    border: none !important;
    margin: 0px !important;
}

nav,
nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

nav ul li {
    flex: 1 1 20%;
}

nav ul a {
    display: block;
    padding: 10px 32px;
    color: var(--darkaccentpink);
    background-color: var(--lightpink);
    text-decoration: none;
    border-bottom: 2px solid var(--darkaccentpink);
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Georgia', sans-serif;
}

nav ul ul {
    position: relative;
    left: -9999px;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundcolor);
}

nav ul ul li {
    flex: 1 1 100%;
}

nav ul li:hover ul {
    left: 0;
}

nav ul li:hover a:hover {
    background-color: var(--mediumpink);
    color: var(--backgroundcolor);
}

nav ul li:hover ul li a:hover {
    color: var(--backgroundcolor);
    background-color: var(--brightaccentpink);
}

#tableexample {
    padding: 5px;
    border: 2px solid var(--mediumpink);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--backgroundcolor);
    border-spacing: 5px;
}

#tableexample td {
    border: 2px solid var(--mediumpink);
    padding: 15px;
    color: var(--backgroundcolor);
    background-color: var(--brightaccentpink);
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

#tableexample th {
    border: 2px solid var(--mediumpink);
    padding: 15px;
    color: var(--backgroundcolor);
    background-color: var(--brightaccentpink);
}

.phototable {
    text-align: left;
    padding: 10px;
    width: 100%;
}

button {
    background-color: var(--brightaccentpink);
    color: white;
    padding: 10px;
}

.phototable td {
    text-align: left;
    vertical-align: top;
    padding: 30px;
}

.phototable th {
    text-align: center;
    vertical-align: center;
}

.photoborder {
    border: 2px solid var(--brightaccentpink);
}

caption {
    color: var(--brightaccentpink);
    font-size: 26px;
    margin-bottom: 10px;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.galleryimages {
    width: 100%;
    height: 150px;
    border: 30px solid var(--brightaccentpink);
    object-fit: cover;
    display: block;
    border-image-source: url(frame.png);
    border-image-slice: 70 fill;
    border-image-repeat: round;
}

.imagerow {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.photoimage {
    height: auto;
    width: 75%;
    border: 30px solid var(--brightaccentpink);
    object-fit: cover;
    display: block;
    border-image-source: url(frame.png);
    border-image-slice: 70 fill;
    border-image-repeat: round;
}

.column8 {
    flex: 1 1 50%;
    margin-left: 10px;
}

.column9 {
    flex: 1 1 30%;
    margin-right: 100px;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.flexcontainer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


h1 {
    color: var(--lightpink);
    text-align: center;
    background-color: var(--brightaccentpink);
    text-shadow: 1px 1px 4px var(--lightpink);
    border: 0px;
    margin: 15px;
    padding: 20px 0;
    font-size: 45px;
    font-family: 'Georgia', serif;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}


p {
    color: var(--darkaccentpink);
}


h2 {
    color: var(--brightaccentpink);
    font-size: 24px;
    text-align: center;
}

h3 {
    color: var(--darkaccentpink);
    font-size: 18px;
    text-transform: uppercase;
}

.examplesheader {
    color: var(--darkaccentpink);
}

h4 {
    color: var(--darkaccentpink);
    font-size: 14px;
    margin-left: 20px;
}


a {
    color: var(--brightaccentpink);
}

li {
    color: var(--darkaccentpink);
}

.designheader {
    color: var(--darkaccentpink);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-align: center;
    margin-top: 30px;
}

.topheader {
    text-decoration: none;
}

.pinkbutton {
    color: white;
    text-decoration: none;
    font-family: 'Georgia', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--brightaccentpink);
    box-shadow: 0 0 30px 10px var(--mediumpink);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    border-radius: 20px;
}

.center {
    text-align: center;
}

.pinkbutton:hover {
    background-color: var(--darkaccentpink);
    box-shadow: 0 0 20px var(--mediumpink);
    border-radius: 20px;
}

#copyright {
    font-style: italic;
    font-size: 14px;
    text-align: right;
}

input[type="range"] {
    accent-color: var(--brightaccentpink);
}

input[type="checkbox"] {
    accent-color: var(--brightaccentpink);
}

input[type="radio"] {
    accent-color: var(--brightaccentpink);
}

input[type="submit"] {
    background-color: var(--brightaccentpink);
    color: var(--backgroundcolor);
    font-size: 16px;
}

.designexamples {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.designimage {
    flex: 1 1 60%;
    margin-right: 20px;
    margin-left: 20px;
}

.designexplanation {
    flex: 1 1 25%;
}

.designimage img {
    max-width: 100%;
    height: auto;
    display: block;
}

.courses {
    display: flex;
}

.column img {
    max-width: 90%;
}

.courseList {
    flex: 1 1 50%;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}


.column {
    flex: 1 1 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

box {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.homepageheadshot {
    flex: 0 1 100%;
    height: auto;
}

.rightcolumn {
    flex: 0 1 33%;
    display: flex;
}

.leftcolumn {
    flex: 0 1 65%;
    display: flex;
    flex-direction: column;
}

.lessspacebelow {
    margin-bottom: -3px;
}

.homepageheadshot img {
    width: 95%;
    height: 96%;
    object-fit: cover;
    border: 8px solid var(--brightaccentpink);
    border-radius: 20px;
    margin-left: 5px;
}

.column5 {
    flex: 1 1 80%;
    padding-left:20px;
    padding-right: 20px;
    margin: 10px 10px 10px -5px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.column5two {
    flex: 1 1 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 10px 0px -5px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.column6 {
    flex: 1 1 80%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 10px 10px 0px;
    padding-bottom: 20px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.flexcontainer2 {
    display: flex;
    align-items: stretch;
}

.flexcontainer3 {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.addspace {
    margin-top: 60px;
}

.column1 {
    flex: 1 1 70%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.column2 {
    flex: 1 1 30%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.column3 {
    flex: 1 1 40%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.column4 {
    flex: 1 1 55%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

ol li {
    margin-left: -15px;
}

.moveleft {
    margin-left: -15px;
}

.wholerow {
    flex: 1 1 100%;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--lightpink);
    border: 2px solid var(--darkaccentpink);
    border-radius: 20px;
}

.center {
    text-align: center;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

.hero {
    background-image: url(heroimage.png);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}


.herobutton {
    color: var(--darkaccentpink);
    text-decoration: none;
    font-family: 'Georgia', sans-serif;
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--lightpink);
    box-shadow: 0 0 30px 10px var(--darkaccentpink);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: 80px;
    left: 110px;
}


.herobutton:hover {
    background-color: var(--darkaccentpink);
    box-shadow: 0 0 20px var(--brightaccentpink);
    color: var(--backgroundcolor);
    border-radius: 20px;
}